<div class="background">

  <div id="header-default">
    <div class="section group">
      <div class="col" style="width: 20%;">

        <a class="link" href="/">
          <h1>Home</h1>
        </a>
        <a class="link" href="/">
          <h1>Press</h1>
        </a>

      </div>
      <div class="col center">
        <img class="logo" src="https://raw.githubusercontent.com/thunderawesome/angular-template-site/master/src/images/VoxelotlGarden_Logo.png">
        <h1 style="color: darkorchid;">Pet simulator game about raising, training, and breeding Axolotls</h1>
      </div>

    </div>
  </div>

  <div class="bottom center">
    <div id="header-mobile">
      <div>

        <img class="logo" src="https://raw.githubusercontent.com/thunderawesome/angular-template-site/master/src/images/VoxelotlGarden_Logo.png">
        <h2 style="color: darkorchid;">Pet simulator game about raising, training, and breeding Axolotls</h2>
      </div>

      <div>
        <a class="link" href="/">
          <h1>Home</h1>
        </a>
        <a class="link" href="/">
          <h1>Press</h1>
        </a>
      </div>
    </div>

    <a id="wishlist" href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4"
      style="width: 75%">Wishlist on Steam!</a>
    <div class="section group">
      <div class="col span_1_of_3">
        <a href="https://landing.mailerlite.com/webforms/landing/i0s6e3" class="button button4"
          style="background-color: darkmagenta;">Newsletter</a>
      </div>
      <div class="col span_1_of_3">
        <a href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4"
          style="background-color: #f00854;">FAQ</a>
      </div>
      <div class="col span_1_of_3">
        <a href="https://www.patreon.com/join/Battlerock" class="button button4"
          style="background-color: #f96854;">Patreon</a>
      </div>
    </div>


  </div>
</div>

<div class="bg-color">
  <div class="main-content center">
    <div class="iframe-container">
      <iframe width="800" height="450" src="https://www.youtube.com/embed/4tqv8kFzk4Q" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>


  </div>
</div>