p {
  font-family: Lato;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.background {
  background-image: url('/images/background.pn');
  background-color: #c4faf8;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
