<div class="background">
  <div class="bottom">
    <div class="center">
      <a id="wishlist" href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4"
        style="width: 75%">Wishlist on Steam!</a>
      <div class="section group">
        <div class="col span_1_of_3">
          <a href="https://landing.mailerlite.com/webforms/landing/i0s6e3" class="button button4"
            style="background-color: darkmagenta;">Newsletter</a>
        </div>
        <div class="col span_1_of_3">
          <a href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4"
            style="background-color: #f00854;">FAQ</a>
        </div>
        <div class="col span_1_of_3">
          <a href="https://www.patreon.com/join/Battlerock" class="button button4"
            style="background-color: #f96854;">Patreon</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="main-content center">
  <div class="iframe-container">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/4tqv8kFzk4Q" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>