<div class="background">
  <div class="center">
  <a href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4">Wishlist on
    Steam!</a>
    <div class="row">
      <div class="col4">
       
        <a href="https://landing.mailerlite.com/webforms/landing/i0s6e3" class="button button4"
          style="background-color: darkmagenta;">Newsletter</a>
        <a href="https://store.steampowered.com/app/1285860/Voxelotl_Garden/" class="button button4"
          style="background-color: #f00854;">FAQ</a>
        <a href="https://www.patreon.com/join/Battlerock" class="button button4"
          style="background-color: #f96854;">Patreon</a>
      </div>
    </div>



  </div>

  <div class="iframe-container"><iframe width="650" height="315" src="https://www.youtube.com/embed/4tqv8kFzk4Q"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe></div>

</div>

<!-- <div [style.background-image]="'url(/images/' + trls.img + ')'"></div> -->

<!-- https://landing.mailerlite.com/webforms/landing/i0s6e3 -->